body {
	background-color: #FFFFFF;
	color: #0000FF;
	font-size: 1.125em;
	font-weight: normal;
}

h1 {
	color: #0000FF;
	font-family: "Times New Roman", Georgia, serif;
	font-size: 2em;
}

p {
	/* background-color: green; */
	margin-left: 5%;
	margin-right: 5%;
	/* width: 40%; */
	/* margin: auto; */
}

hr {
	border: none;
  border-top: dotted #a6a6a4 6px;
  width: 4%;
  margin: 0 auto 3rem;
}

.main-hr {
	border-top: solid #a6a6a4 2px;
	width: 100%;
}
/* .author { */
	/* background-color: green; */
/*	width: 80%;
	margin: auto;
	text-align: center;
	font-style: italic;
	padding: 1.5rem 0 1rem 0;
} */

.box {
/*     border: 2px solid green; */
background-color: #efefef;
    display: inline-table;
    position: relative;
    margin: 10px;
		border-radius: 15px;
}

.author {
  color: blue;
  border: 2px inset #d9d9d9;
	border-radius: 8px;
  float: left;
  margin: 0.5rem 1rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  min-width: 150px;
}

.city {
  color: #d00;
/*   border-right: 2px solid pink; */
  /* float: center; */
  font-size: .75rem;
  margin: 0 auto;
}
.list {
	margin-left: 7rem;
}
